extends layout

block head-extras
  script(src='/js/download.js', defer)

block content
  div.download
    h1 Download
    p This link will expire in 24 hours.
    p Your file is available here:
    button #{fileKey}
