extends layout

block head-extras
  script(src='/js/upload.js', defer)

block content
  h1= title
  input#file-input(type="file")
  p#status Drop a file
  div#success
  form(method='POST', action='/upload')
    input(type='submit', value='Drop')
