body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* On the upload page, don't show the upload link until it's ready. */
#download-link {
  display: none;
}
